.wrap {
  padding: 9rem 1rem 0 1rem;
  background-color: #f2efe4;
  font-family: 'Roboto';
  margin-left: 2rem;
  margin-right: 2rem;
}

.heading {
  font-weight: 700;
  font-size: 3.7rem;
  text-decoration: none;
  line-height: 84px;
  letter-spacing: 1px;
  color: #303030;
}

.detailWrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.CellImg {
  width: 36vw;
  border-radius: 0.5rem;
}

img {
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.great {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 4px;
  color: #4a4a4a;
  padding-top: 0.5rem;
  margin-bottom: 2.5rem;
  line-height: 2rem;
}

.line {
  background-color: #303030;
  height: 1px;
  width: 65%;
  margin-bottom: 3.5rem;
}

.slogo {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: auto;
  color: #4a4a4a;
  display: inline-block;
  margin-bottom: 2rem;
}

.CellInfo {
  width: 50vw;
}

.heading {
  margin-bottom: 1rem;
  line-height: 5rem;
}

.CellWork {
  width: 60vw;
}

.CellWork h1 {
  font-weight: 600;
  font-size: 2.2rem;
  font-family: 'Roboto';
  color: #303030;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.CellWork p {
  font-weight: 500;
  font-size: 1.25rem;
  color: #4a4a4a;
  margin-bottom: 1.5rem;
  display: inline-block;
  line-height: 2rem;
}
.Heading {
  color: #303030;
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  padding-top: 2rem;
  margin-bottom: 1.87rem;
  font-weight: 700;
  line-height: 5.25rem;
  letter-spacing: -0.03rem;
}
#cardcontainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:5rem;
  margin-top: 1rem;
}

.Cardbody {
  margin: 2.5rem;
  width: 200px;
  height: 306px;
  border-radius: 10px;
  overflow: hidden;
  animation: Cardbody-load 300ms ease-in;

}

.Cardbody img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.cardcontent {
  background-color: #8EC15C;
  position: relative;
  bottom: 78px;
  padding-top: 21px;
  padding-bottom: 21px;
  text-align: center;
  transition: 0.4s;
  line-height: 40px;
  z-index: 5;
  clip-path: polygon(0 14%, 0 14%, 0 100%, 0% 100%);

}

.cardcontent h1 {
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  color: #fff;
  font-size: 15px;
}

.cardcontent p {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}

.cardback {
  background-color: #ffffff;
  padding: 90px;
  position: relative;
  bottom: 258px;
  transition: 0.2s ease;
  z-index: 0;
  clip-path: polygon(100% 53%, 100% 52%, 100% 100%, 100% 100%);
}
.Cardbody:hover{
  -webkit-box-shadow: 2px 2px 33px 4px rgba(142,193,92,0.87);
  -moz-box-shadow: 2px 2px 33px 4px rgba(142,193,92,0.87);
  box-shadow: 2px 2px 33px 4px rgba(142,193,92,0.87);
}

.Cardbody:hover .cardback {
  clip-path: polygon(0 53%, 100% 54%, 100% 100%, 0% 100%);
}

.Cardbody:hover .cardcontent {
  clip-path: polygon(14% 14%, 100% 14%, 86% 100%, 0% 100%);
}

.cardsocial {
  display: flex;
  justify-content: flex-end;
  background-color: #ffffff;
  height: 200px;
  width: 200px;
  position: relative;
  bottom: 588px;
  transition: 0.2s ease;
  z-index: 8;
  clip-path: circle(0.0% at 100% 0);
}

.Cardbody:hover .cardsocial {
  clip-path: circle(45% at 100% 0);
}

.cardsocial img {
  height: 35px;
  margin-top: 20px;
  padding: 5px;
  position: relative;
  left: 120px;
  transition: 0.5s;
}

.Cardbody:hover .cardsocial img {
  left: 0;
}

@media (max-width: 1300px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 80%;
  }

  .CellImg {
    width: 36vw;
    display: flex;
  }

  .img {
    object-fit: cover;
  }
  .Heading {
    font-size: 60px;

}
.Cardbody {
    width: 200px;
    height: 290px;
    margin: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
}

@media (max-width: 1024px) {
  html {
    font-size: 70%;
  }

  .CellImg {
    width: 36vw;
    display: flex;
  }

  .img {
    height: 80%;
    object-fit: cover;
  }
  .cardsocial {
    bottom: 575px
}

.cardcontent h1 {
    font-size: 15px;
}

.cardcontent p {
    font-size: 12px;
}
}

@media (max-width: 886px) {
  html {
    font-size: 70%;
  }

  .CellImg {
    width: 36vw;
    display: flex;
  }

  .heading {
    line-height: 5rem;
  }

  .line {
    width: 80%;
  }

  .img {
    object-fit: cover;
  }

  .great {
    line-height: 2rem;
  }
}

@media (max-width: 768px) {
  .detailWrap {
    display: block;
  }

  .CellInfo {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
  }

  .slogo {
    margin-bottom: 1rem;
  }

  .CellWork {
    width: 100%;
  }

  .CellWork h1 {
    text-align: center;
  }

  .CellWork p {
    line-height: 2rem;
    padding: 0.5rem;
  }

  .CellImg {
    width: 100%;
    padding: 1.5rem;
    margin: auto;
  }

  .img {
    width: 100%;
    object-fit: cover;
  }

  .line {
    margin: auto;
    margin-bottom: 3rem;
  }
}
@media(max-width:565px) {
  #cardcontainer {
      margin: 3rem;
  }

  .cardsocial img {
      margin-top: 25px;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 60%;
  }
  .Heading {
    font-size: 40px;
}
.cardsocial {
    bottom: 575px;
}
}