@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@500;600;700;800&family=Roboto+Slab:wght@300&family=Roboto:wght@500;700;900&display=swap');

body {
    background-color: #f2efe4;
    font-family: 'Inter', sans-serif;
}

.header {
    text-align: center;
    padding: 0rem 3rem 0 3rem;
    margin-top: 2rem;
}

.header h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 3.7rem;
}

.header p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 0 10rem 0 10rem;
    margin-top: 1.5rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}


/*odd position*/

.card-1 {
    display: flex;
    margin-top: 5rem;
}

.card-image-1 {
    width: 60%;
    border-radius: 0.5rem;
}

.card-image-1 img {
    width: 100%;
    min-height: 100%;
    border-radius: 0.5rem;
}

.card-text-1 {
    width: 70%;
    padding-left: 1.5rem;
}

.card-text-1 h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    color: #303030;

}

.card-text-1 p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    color: #303030;
}


/*odd position*/


/*even position*/

.card-2 {
    margin-top: 5rem;
    display: flex;
}

.card-image-2 {
    width: 60%;
    order: 2;
    border-radius: 0.5rem;
}

.card-image-2 img {
    width: 100%;
    min-height: 100%;
    border-radius: 0.5rem;
}

.card-text-2 {
    padding-right: 1.5rem;
    width: 70%;
    order: 1;
}

.card-text-2 h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    color: #303030;
}

.card-text-2 p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    color: #303030;
}


/*even position*/


/*responsive*/

@media(max-width:1600px) {
    .header {
        text-align: center;
        padding: 0 3rem 0 3rem;
    }

    .header h1 {
        font-size: 5rem;
    }

    .header p {
        font-size: 2.1rem;
        padding: 0 7rem 0 7rem;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    .card-1 {
        display: flex;
        margin-top: 5rem;
    }

    .card-image-1 {
        width: 100%;
        border-radius: 0.5rem;
    }

    .card-image-1 img {
        width: 100%;
        min-height: 100%;
        border-radius: 0.5rem;
    }

    .card-text-1 {
        width: 70%;
        padding-left: 1.5rem;
    }

    .card-text-1 h2 {
        font-size: 3rem;
    }

    .card-text-1 p {
        font-size: 2rem;
    }

    /*odd position*/
    /*even position*/
    .card-2 {
        margin-top: 5rem;
        display: flex;
    }

    .card-image-2 {
        width: 100%;
        order: 2;
        border-radius: 0.5rem;
    }

    .card-image-2 img {
        width: 100%;
        min-height: 100%;
        border-radius: 0.5rem;
    }

    .card-text-2 {
        padding-right: 1.5rem;
        width: 70%;
        order: 1;
    }

    .card-text-2 h2 {
        font-size: 3rem;
    }

    .card-text-2 p {
        font-size: 2.1rem;
    }

    /*even position*/
}

@media(max-width:1600px) {
    .header {
        text-align: center;
        padding: 0 3rem 0 3rem;
    }

    .header h1 {
        font-size: 3.6rem;
    }

    .header p {
        font-size: 1.3rem;
        padding: 0 7rem 0 7rem;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    .card-1 {
        display: flex;
        margin-top: 5rem;
    }

    .card-image-1 {
        width: 100%;
        border-radius: 0.5rem;
    }

    .card-image-1 img {
        width: 100%;
        min-height: 100%;
        border-radius: 0.5rem;
    }

    .card-text-1 {
        width: 70%;
        padding-left: 1.5rem;
    }

    .card-text-1 h2 {
        font-size: 2.3rem;
    }

    .card-text-1 p {
        font-size: 1.3rem;
    }

    /*odd position*/
    /*even position*/
    .card-2 {
        margin-top: 5rem;
        display: flex;
    }

    .card-image-2 {
        width: 100%;
        order: 2;
        border-radius: 0.5rem;
    }

    .card-image-2 img {
        width: 100%;
        min-height: 100%;
        border-radius: 0.5rem;
    }

    .card-text-2 {
        padding-right: 1.5rem;
        width: 70%;
        order: 1;
    }

    .card-text-2 h2 {
        font-size: 2.3rem;
    }

    .card-text-2 p {
        font-size: 1.3rem;
    }

    /*even position*/
}

@media(max-width:1024px) {
    .header {
        text-align: center;
        padding: 0 3rem 0 3rem;
    }

    .header h1 {
        font-size: 3rem;
    }

    .header p {
        font-size: 1rem;
        padding: 0 7rem 0 7rem;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    .card-1 {
        display: flex;
        margin-top: 5rem;
    }

    .card-image-1 {
        width: 100%;
        border-radius: 0.5rem;
    }

    .card-image-1 img {
        width: 100%;
        min-height: 100%;
        border-radius: 0.5rem;
    }

    .card-text-1 {
        width: 70%;
        padding-left: 1.5rem;
    }

    .card-text-1 h2 {
        font-size: 2rem;
    }

    .card-text-1 p {
        font-size: 1rem;
    }

    /*odd position*/
    /*even position*/
    .card-2 {
        margin-top: 5rem;
        display: flex;
    }

    .card-image-2 {
        width: 100%;
        order: 2;
        border-radius: 0.5rem;
    }

    .card-image-2 img {
        width: 100%;
        min-height: 100%;
        border-radius: 0.5rem;
    }

    .card-text-2 {
        padding-right: 1.5rem;
        width: 70%;
        order: 1;
    }

    .card-text-2 h2 {
        font-size: 2rem;
    }

    .card-text-2 p {
        font-size: 1rem;
    }

    /*even position*/
}

@media(max-width:861px) {
    .header {
        text-align: center;
        padding: 0 3rem 0 3rem;
    }

    .header h1 {
        font-size: 2.9rem;
    }

    .header p {
        font-size: 0.9rem;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    .card-1 {
        display: flex;
        margin-top: 5rem;
    }

    .card-image-1 {
        width: 100%;
        border-radius: 0.5rem;
    }

    .card-image-1 img {
        width: 100%;
        min-height: 100%;
        border-radius: 0.5rem;
    }

    .card-text-1 {
        width: 70%;
        padding-left: 1.5rem;
    }

    .card-text-1 h2 {
        font-size: 1.9rem;
    }

    .card-text-1 p {
        font-size: 0.9rem;
    }

    /*odd position*/
    /*even position*/
    .card-2 {
        margin-top: 5rem;
        display: flex;
    }

    .card-image-2 {
        width: 100%;
        order: 2;
        border-radius: 0.5rem;
    }

    .card-image-2 img {
        width: 100%;
        min-height: 100%;
        border-radius: 0.5rem;
    }

    .card-text-2 {
        padding-right: 1.5rem;
        width: 70%;
        order: 1;
    }

    .card-text-2 h2 {
        font-size: 1.9rem;
    }

    .card-text-2 p {
        font-size: 0.9rem;
    }

    /*even position*/
}

@media(max-width:769px) {
    .header {
        text-align: center;
        padding: 0 3rem 0 3rem;
    }

    .header h1 {
        font-size: 3rem;
    }

    .header p {
        font-size: 1rem;
        padding: 0 2.1rem 0 2.1rem;
    }

    .card-container {
        width: 80%;
    }

    /*odd position*/
    .card-1 {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
    }

    .card-image-1 {
        width: 100%;
        border-radius: 0.5rem;
    }

    .card-image-1 img {
        width: 100%;
        min-height: 100%;
        border-radius: 0.5rem;
    }

    .card-text-1 {
        width: 90%;
        padding: 1rem;
    }

    .card-text-1 h2 {
        font-size: 2rem;
    }

    .card-text-1 p {
        font-size: 1rem;
    }

    /*odd position*/
    /*even position*/
    .card-2 {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
    }

    .card-image-2 {
        width: 100%;
        border-radius: 0.5rem;
        order: 1;
    }

    .card-image-2 img {
        width: 100%;
        min-height: 100%;
        border-radius: 0.5rem;
    }

    .card-text-2 {
        width: 90%;
        padding: 1rem;
        order: 2;
    }

    .card-text-2 h2 {
        font-size: 2rem;
    }

    .card-text-2 p {
        font-size: 1rem;
    }

    /*even position*/
}

@media(max-width:521px) {
    .header {
        text-align: center;
        padding: 0 3rem 0 3rem;
    }

    .header h1 {
        font-size: 2.8rem;
    }

    .header p {
        font-size: 0.8rem;
        padding: 0 0.4rem 0 0.4rem;
    }

    /*odd position*/
    .card-1 {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
    }

    .card-image-1 {
        width: 100%;
        border-radius: 0.5rem;
    }

    .card-image-1 img {
        width: 100%;
        min-height: 100%;
        border-radius: 0.5rem;
    }

    .card-text-1 {
        width: 90%;
    }

    .card-text-1 h2 {
        font-size: 1.8rem;
    }

    .card-text-1 p {
        font-size: 0.8rem;
    }

    /*odd position*/
    /*even position*/
    .card-2 {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
    }

    .card-image-2 {
        width: 100%;
        border-radius: 0.5rem;
        order: 1;
    }

    .card-image-2 img {
        width: 100%;
        min-height: 100%;
        border-radius: 0.5rem;
    }

    .card-text-2 {
        width: 90%;
        order: 2;
    }

    .card-text-2 h2 {
        font-size: 1.8rem;
    }

    .card-text-2 p {
        font-size: 0.8rem;
    }

    /*even position*/
}

@media(max-width:426px) {
    .header {
        text-align: center;
        padding: 0 3rem 0 3rem;
    }

    .header h1 {
        font-size: 2.8rem;
    }

    .header p {
        font-size: 0.8rem;
        padding: 0 0.6rem 0 0.6rem;
    }

    .card-container {
        width: 80%;
    }

    /*odd position*/
    .card-1 {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
    }

    .card-image-1 {
        width: 100%;
        border-radius: 0.5rem;
    }

    .card-image-1 img {
        width: 100%;
        min-height: 100%;
        border-radius: 0.5rem;
    }

    .card-text-1 {
        width: 90%;
    }

    .card-text-1 h2 {
        font-size: 1.8rem;
    }

    .card-text-1 p {
        font-size: 0.8rem;
    }

    /*odd position*/
    /*even position*/
    .card-2 {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
    }

    .card-image-2 {
        width: 100%;
        border-radius: 0.5rem;
        order: 1;
    }

    .card-image-2 img {
        width: 100%;
        min-height: 100%;
        border-radius: 0.5rem;
    }

    .card-text-2 {
        width: 90%;
        order: 2;
    }

    .card-text-2 h2 {
        font-size: 1.8rem;
    }

    .card-text-2 p {
        font-size: 0.8rem;
    }

    /*even position*/
}

@media(max-width:376px) {
    .header {
        text-align: center;
        padding: 0 3rem 0 3rem;
    }

    .header h1 {
        font-size: 2.6rem;
    }

    .header p {
        font-size: 0.7rem;
    }

    .card-container {
        width: 80%;
    }

    /*odd position*/
    .card-1 {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
    }

    .card-image-1 {
        width: 100%;
        border-radius: 0.5rem;
    }

    .card-image-1 img {
        width: 100%;
        min-height: 100%;
        border-radius: 0.5rem;
    }

    .card-text-1 {
        width: 90%;
    }

    .card-text-1 h2 {
        font-size: 1.5rem;
    }

    .card-text-1 p {
        font-size: 0.7rem;
    }

    /*odd position*/
    /*even position*/
    .card-2 {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
    }

    .card-image-2 {
        width: 100%;
        border-radius: 0.5rem;
        order: 1;
    }

    .card-image-2 img {
        width: 100%;
        min-height: 100%;
        border-radius: 0.5rem;
    }

    .card-text-2 {
        width: 90%;
        order: 2;
    }

    .card-text-2 h2 {
        font-size: 1.5rem;
    }

    .card-text-2 p {
        font-size: 0.7rem;
    }

    /*even position*/
}

@media(max-width:321px) {
    .header {
        text-align: center;
        padding: 0 3rem 0 3rem;
    }

    .header h1 {
        font-size: 2.5rem;
    }

    .header p {
        font-size: 0.6rem;
    }

    .card-container {
        width: 80%;
    }

    /*odd position*/
    .card-1 {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
    }

    .card-image-1 {
        width: 100%;
        border-radius: 0.5rem;
    }

    .card-image-1 img {
        width: 100%;
        min-height: 100%;
        border-radius: 0.5rem;
    }

    .card-text-1 {
        width: 90%;
    }

    .card-text-1 h2 {
        font-size: 1.4rem;
    }

    .card-text-1 p {
        font-size: 0.6rem;
    }

    /*odd position*/
    /*even position*/
    .card-2 {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
    }

    .card-image-2 {
        width: 100%;
        border-radius: 0.5rem;
        order: 1;
    }

    .card-image-2 img {
        width: 100%;
        min-height: 100%;
        border-radius: 0.5rem;
    }

    .card-text-2 {
        width: 90%;
        order: 2;
    }

    .card-text-2 h2 {
        font-size: 1.4rem;
    }

    .card-text-2 p {
        font-size: 0.6rem;
    }

    /*even position*/
}