@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    background-color: #f2efe4;
    font-family: 'Roboto', sans-serif;
}

.header {
    text-align: center;
    padding: 0 5rem 0 5rem;
}

.header h1 {
    padding: 7.5rem 0 2.3rem 0;
    font-size: 3.6rem;
    color: #303030;
    font-weight: 700;
}

.header p {
    font-size: 1.3rem;
    color: #4a4a4a;
    font-weight: 500;
}

.cardcontainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.card1 {
    display: flex;
    margin-top: 6rem;
}

.cardimg1 {
    width: 50%;
    border-radius: 0.5rem;
}

.cardimg1 img {
    width: 100%;
    min-height: 100%;
    border-radius: 0.5rem;
}

.cardtxt1 {
    width: 50%;
    padding: 0 0 0 2rem;
}

.cardtxt1 h2 {
    font-weight: 700;
    font-size: 2.3rem;
    margin-bottom: 0.8rem;
    color: #303030;
}

.cardtxt1 p {
    font-weight: 500;
    font-size: 1.3rem;
    text-align: justify;
    line-height: 2.3rem;
    color: #4a4a4a
}

/*even position*/
.card2 {
    margin-top: 6rem;
    display: flex;
}

.cardimg2 {
    width: 50%;
    order: 2;
    border-radius: 0.5rem;
}

.cardimg2 img {
    width: 100%;
    min-height: 100%;
    border-radius: 0.5rem;
}

.cardtxt2 {
    padding: 0 2rem 0 0;
    width: 50%;
    order: 1;
}

.cardtxt2 h2 {
    font-weight: 700;
    font-size: 2.3rem;
    margin-bottom: 0.8rem;
    color: #303030;
}

.cardtxt2 p {
    font-weight: 500;
    font-size: 1.3rem;
    text-align: justify;
    line-height: 2.3rem;
    color: #4a4a4a
}


@media(max-width:1024px) {
    .header h1 {
        padding-top: 12rem;
    }
}

/*Responsive*/
@media(max-width:769px) {
    .cardcontainer {
        width: 85%;
    }

    /*odd position*/
    .card1 {
        display: flex;
        flex-direction: column;
        margin-top: 6rem;
    }

    .cardimg1 {
        width: 100%;
        border-radius: 0.5rem;
    }

    .cardimg1 img {
        width: 100%;
        min-height: 100%;
        border-radius: 0.5rem;
    }

    .cardtxt1 {
        width: 100%;
        padding: 2rem 1rem 1rem 0;
    }

    .cardtxt1 h2 {
        font-size: 2.3rem;
    }

    .cardtxt1 p {
        font-size: 1.3rem;
    }

    /*odd position*/
    /*even position*/
    .card2 {
        display: flex;
        flex-direction: column;
        margin-top: 6rem;
    }

    .cardimg2 {
        width: 100%;
        border-radius: 0.5rem;
        order: 1;
    }

    .cardimg2 img {
        width: 100%;
        min-height: 100%;
        border-radius: 0.5rem;
    }

    .cardtxt2 {
        width: 100%;
        padding: 2rem 1rem 1rem 0;
        order: 2;
    }

    .cardtxt2 h2 {
        font-size: 2.3rem;
    }

    .cardtxt2 p {
        font-size: 1.3rem;
    }

    /*even position*/
}