@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Bungee+Shade&family=Cinzel:wght@500;800&family=Comic+Neue:wght@400;700&family=DM+Serif+Display:ital@1&family=Dongle:wght@300&family=Frijole&family=Inter:wght@700&family=Kalam&family=Kanit:wght@300&family=Lora:ital,wght@1,700&family=Marcellus&family=Monoton&family=Nunito&family=Poppins:wght@100;400&family=Roboto:wght@700&family=Rowdies:wght@300&family=Rubik+Moonrocks&family=Rubik+Vinyl&family=Rubik+Wet+Paint&family=Rye&family=Tapestry&family=Tillana:wght@700&family=Tilt+Prism&display=swap');

* {
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}

model-viewer{
    height: 500px !important;
}

@media (min-width: 1024px) {
    model-viewer{
        height: 700px !important;
    }
}