@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@700&display=swap');

.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 100px;
  box-sizing: border-box;
  background-color: #F2EFE4;
  font-family: 'Inter', sans-serif;


}

.hero-section-data {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding-left: 107px;


}

.btn-section {

  gap: 2rem;
}

.hero-section-data .hero-heading {
  color: #303030;
  font-family: Inter;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: -0.42px;
  /* padding-bottom: 4rem; */
  margin: 0;
  padding: 0;
  letter-spacing: 0.24px;
}

.hero-section-data .hero-para {
  color: #3F3F3F;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  padding-bottom: 4rem;
  /* padding-top: 2.5rem; */
  letter-spacing: -0.36px;
}

.btn-1 {
  padding: 0.938rem;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 5px;
  width: 15.375rem;
  height: 4.875rem;
  cursor: pointer;
  border: none;
  outline: none;
  background: #9DDB5E;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn-2 {
  border: 2px solid #252525;
  padding: 0.938rem;
  font-size: 1.8rem;
  background-color: none;
  font-weight: 600;
  border-radius: 5px;
  width: 15.375rem;
  height: 4.875rem;
  margin-left: 10px;
  cursor: pointer;
}

.hero-section-img {
  padding-left: 100px;
}



@media (max-width: 1230px) {
  .btn-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 2rem;
  }

  .btn-1 .btn-2 {
    font-size: 5px;
  }

  .hero-para {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }

}

@media (max-width: 1024px) {
  .main-container {
    display: flex;
    flex-direction: column;

  }

  .hero-section-data {
    width: 100%;
    padding-bottom: 1.5rem;
    padding: 3rem;
  }

  .hero-section-data .hero-para {
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    padding-bottom: 8rem;
    padding-top: .5rem;
    letter-spacing: -0.36px;
  }

  .hero-section-data .hero-heading {
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: 100px;
    letter-spacing: -0.42px;
    /* padding-bottom: 64px; */
    letter-spacing: 0.63px;
  }

  .btn-section {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 2rem;
  }

  .hero-section-img {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  .main-img {
    width: 100%;
  }

}

@media (max-width: 750px) {
  .hero-section-img {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
  }

  .main-img {
    width: 100%;
  }

  .hero-section-data .hero-para {
    font-size: 24px;
    padding-bottom: 5rem;
  }

  .hero-section-data .hero-heading {
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: -0.24px;
    padding-bottom: 3rem;
    line-height: 4.5rem;
    padding-bottom: 2rem;

  }

  .btn-1,
  .btn-2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 480px) {
  .hero-heading {
    font-size: 2.8rem;
  }

  .hero-para {
    font-size: .8rem;
  }

  .hero-section-data {
    padding: 1.5rem;
  }

  .btn-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;

  }

  .hero-section-data .hero-heading {
    font-size: 45px;
    font-style: normal;
    font-weight: 550;
    letter-spacing: -0.14px;
    padding-bottom: 1rem;
    line-height: 3.4rem;
    padding-bottom: 1.5rem;
  }

  .hero-section-data .hero-para {
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    padding-bottom: 2rem;
    letter-spacing: -0.36px;
  }

  .btn-1,
  .btn-2 {
    font-size: 1.3rem;
  }
}