
* {
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}

model-viewer{
    height: 500px !important;
}

@media (min-width: 1024px) {
    model-viewer{
        height: 700px !important;
    }
}