.Heading {
    color: #303030;
    text-align: center;
    font-size: 4rem;
    font-style: normal;
    margin-top: 2.18rem;
    margin-bottom: 1.87rem;
    font-weight: 700;
    line-height: 5.25rem;
    letter-spacing: -0.03rem;
}

.Tabbar {
    margin: auto;
    display: flex;
    width: 1050px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #8EC15C;
    justify-content: space-around;
}

.Tabbar button {
    position: relative;
    display: inline-block;
    font-size: 19px;
    color: #fff;
    height: 40px;
    margin: auto;
    font-weight: 550;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.Tabbar button::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: 5px;
    background: rgb(255, 255, 255);
    bottom: 0px;
    border-radius: 20px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;

}

.Tabbar button:hover::after,
.Tabbar button:focus::after {
    transform-origin: left;
    transform: scaleX(1);
}

.Tabbar button:focus {
    outline: none;

}

.batchheading {
    color: #303030;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 84px;
    margin: 30px;

}

#cardcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10rem;
    margin-top: 1rem;
}

.cardbody {
    width: 210px;
    height: 306px;
    margin: 2rem;
    margin-top: 1rem;
    overflow: hidden;
}

.cardbody img {
    width: 100%;
    height: 100%;
}

/*@media(max-width:1740px){
        main{
            margin:15rem;
    
        }
        .cardbody{
            margin:2rem;
        }
        .Tabbar{
            
        }
    }*/
@media(max-width:1245px) {

    .Heading {
        font-size: 60px;

    }

    .batchheading {
        font-size: 35px;
    }

    .Tabbar {
        width: 900px;
    }

    .cardbody {
        width: 200px;
        height: 290px;
        margin: 1.5rem;
        margin-top: 1rem;
    }

}

@media(max-width:1075px) {}

@media(max-width:992px) {
    .Tabbar {
        width: 800px;
    }
}

@media(max-width:840px) {
    .Tabbar {
        width: 700px;
    }
}

@media(max-width:720px) {
    .Tabbar {
        width: 500px;

    }

}

@media(max-width:502px) {
    .Tabbar {
        width: 400px;

    }

    .Tabbar button {
        height: 69px;
        width: 70px;
    }
}

@media(max-width:400px) {
    .Heading {
        font-size: 40px;
    }

    .batchheading {
        font-size: 25px;
    }

    .Tabbar {
        width: 350px;
    }

    .tabswitch {
        font-size: 15px;
    }
}