@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Open+Sans&family=Roboto:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ourcellspage {
    padding: 5rem;
    background: #F2EFE4;
}

.mainheading {
    font-family: "Inter";
    font-size: 96px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: -0.005em;
    text-align: center;
    color: #303030;
    padding-bottom: 1rem;
}

.para {
    font-family: "Inter";
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.005em;
    text-align: center;
    color: #3F3F3F;
    padding-bottom: 6rem;
    padding-top: 1rem;
}

.cellcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: fit-content;
    margin: auto;
    margin-bottom: 2rem;
}

.cell {
    width: 300px;
    height: 400px;
    background: #8A8984;
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    margin: 0 -50px;
    filter: blur(0px);
    transition: transform 0.3s ease-in-out;
}

.cell:hover~.cell {
    filter: blur(2px);
}

a:hover {
    z-index: 7;
}

.cell:hover {
    transform: scale(1.1);
    cursor: pointer;
    z-index: 6;
    filter: none;
}

.cellcontainer:hover .cell:not(:hover) {
    filter: blur(2px);
}

.cellheading {
    position: absolute;
    font-family: "Roboto";
    font-size: 42px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.005em;
    text-align: left;
    top: 430px;
    left: 7px;
    opacity: 0;
    color: #3A3A3A;
    transition: opacity 0.3s ease-in-out;
}

.cell:hover .cellheading {
    opacity: 1;
}

.hr {
    position: absolute;
    top: 415px;
    text-align: center;
    background: #3A3A3A;
    height: 3px;
    width: 280px;
    left: 6px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.cell:hover .hr {
    opacity: 1;
}

.corecell {
    margin-right: -50px;
    z-index: 5;
}

.wdct {
    margin-right: -50px;
    z-index: 1;
}

.robocell {
    margin-right: -50px;
    z-index: 2;
}

.ecell {
    margin-right: -50px;
    z-index: 4;
}

.rdcell {
    margin-right: -50px;
    z-index: 3;
}

@media (max-width: 496px) {
    .cell {
        margin-bottom: 8.5rem;
    }
    .ourcellspage {
        padding: 3rem;
        padding-bottom: 0rem;
    }
    .para {
        font-size: 18px;
        padding-top: 0rem;
        padding-bottom: 4rem;
    }
    .mainheading {
        font-size: 56px;
    }
    .cellheading {
        font-size: 33px;
    }
}

@media (max-width:1160px) and (min-width: 496px) {
    .cell {
        margin-bottom: 7.5rem;
    }
    .ourcellspage {
        padding: 5rem;
        padding-bottom: 0rem;
    }
    .mainheading {
        font-size: 75px;
    }
    .para {
        font-size: 20px;
        padding-top: 0rem;
        padding-bottom: 4rem;
    }
    .cellheading {
        font-size: 37px;
    }
}