@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Varela+Round&display=swap');

.Footer {
    background: #F2EFE4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;
  }
  
  .footer-p {
    margin: 0.01rem 0.5rem;
        color: #303030;
        font-family: Open Sans;
        font-size: 24px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: -0.005em;
        text-align: left;
  }
  
  .socialmedia-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .icon{
    padding: 0.75rem;
  }
  
  @media (min-width: 768px) {
    .Footer {
      flex-direction: row-reverse;
      justify-content: space-between;
      padding:1rem;
    }
  
    .footer-p {
        margin: 0.2rem 0.5rem;
    }
  
    .icon {
      padding:1rem;
    }
}
  