@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Bungee+Shade&family=Cinzel:wght@500;800&family=Comic+Neue:wght@400;700&family=DM+Serif+Display:ital@1&family=Dongle:wght@300&family=Frijole&family=Inter:wght@700&family=Kalam&family=Kanit:wght@300&family=Lora:ital,wght@1,700&family=Marcellus&family=Monoton&family=Nunito&family=Poppins:wght@100;400&family=Roboto:wght@700&family=Rowdies:wght@300&family=Rubik+Moonrocks&family=Rubik+Vinyl&family=Rubik+Wet+Paint&family=Rye&family=Tapestry&family=Tillana:wght@700&family=Tilt+Prism&display=swap');

* {
    padding: 0;
    margin: 0;
}

.carouselContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.aboutuspage {
    padding: 5rem;
    padding-bottom: 0;
    background: #F2EFE4;
}

.mainh {
    font-family: "Inter";
    font-size: 48px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.015em;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.abtpara {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
    padding-bottom: 1rem;
    width: 100vw;
    padding: 0rem 8rem;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 55px 55px 55px rgba(0, 0, 0, 0.5);
}

.carouselImage {
    position: relative;
    height: 100vh;
    width: 100%;
    filter: brightness(0.3);
    object-fit: cover;
    border-radius: 0 !important;
}



@media (max-width : 496px) {
    .aboutuspage {
        padding: 2.5rem;
    }

    .content {
        margin-top: 7rem;
        position: absolute;
        left: 20%;
        top: 20%;
        transform: translate(-20%, -20%);
        color: white;
        text-shadow: 55px 55px 55px rgba(0, 0, 0, 0.5);
    }

    .carouselImage {
        height: 100vh;
        border-radius: 0 !important;
    }

    .abtimage {
        height: 300px;

    }

    .mainh {
        font-size: 38px;
        margin-top: 1rem;
    }

    .abtpara {
        font-size: 16px;
        text-align: center;
        padding-left: 2.2rem;
        padding-right: 2.2rem;
        padding-bottom: 2rem;
    }


    .expbutton {
        width: 140px;
        font-size: 20px;
    }

    .image {
        margin-top: 8rem;
        height: 250px;
        width: 100%;
    }
}

@media (max-width : 420px) and (min-width:300px) {
    .mainh {
        font-size: 35px;
        padding-bottom: 1rem;
    }

    .abtpara {
        font-size: 15px;
    }
}

@media (max-width:991px) and (min-width: 496px) {
    .abtimage {
        height: 400px;
    }

    .aboutuspage {
        padding: 2.8rem;
    }

    .image {
        height: 350px;
        margin-top: 8rem;
        width: 100%;
    }

    .mainh {
        font-size: 40px;
        margin-top: 1rem;
    }

    .abtpara {
        font-size: 20px;
        text-align: center;
        padding: 0.5rem 2rem;
        padding-bottom: 2rem;
    }


}

@media (max-width:990px) and (min-width: 608px) {
    .image {
        height: 450px;
        margin-top: 8rem;
    }
}

@media (min-width:1023px) {
    .textnav {
        color: white !important;

    }

    img {
        border-radius: 0 !important;
    }

    .mainh::before {
        content: "About CCA!";
        position: absolute;
        color: black;
        top: 11px;
        transform: scaleX(-6px);
        -webkit-text-stroke: 4px black;
        z-index: -1;

    }
}